* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.logo {
    width:35px;
    height: 30px;
}

.namebox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    

}

button {
    padding: 8px;
    
    border-radius: 20%;
    font-weight: 500;
    border: 1px solid rgb(204, 191, 191);
    outline: none;
    width: auto;
    background-color: white;
}

button:hover {
    cursor: pointer;
    border-color: red;
}

.name {
    position: absolute;
    right: 60px;
    top: 20px;
    font-weight: 550;

}

.container {
    margin: 0 15%;
}


.openings {
   padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

\\ to put hover

.buttonbox {
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    max-width: 130px;
   
}

.allboxes {
    padding-top: 20px;
    
}

.allboxes p {
    color: rgb(121, 111, 111);
}

.gridbox {
    
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 20px;
    
    

    
}

.gridbox > * {
    border: 1px solid rgb(236, 228, 228);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5%;
    max-width: 400px;
    min-width: 400px;
    min-height: 325px;
}

.gridbox img {
    height: 120px;
    background-image: url(Images/gridbox.jpg);
}

.cardbox-inside {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    line-height: 28px;

}

.cardbox-inside h1 {
    font-size: 20px;

}

.gridbox-btn {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.gridbox-btn button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
 

.box1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}

.box1 h1 {
    font-size: 20px;
    padding-top: 30px;
}


.box1 div {
    display: flex;
    flex-direction: column;
    gap: 10px;

}





.box1 .plus_btn {
    width: 45px;
    border: dotted;
    color: rgb(228, 217, 217);
    

}


.box1 .create_btn {
    width: 120px;
    font-size: 18px;
    border-radius: 9%;
      

}





















































