* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.logo {
    width:35px;
    height: 30px;
}

.namebox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    

}

button {
    padding: 8px;
    border-radius: 10px;
    font-weight: 500;
    border: 1px solid rgb(204, 191, 191);
    outline: none;
    width: auto;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0.2px #999;
}

button:hover {
    cursor: pointer;
    /* border-color: red; */
    background-color: #abb1ab;
}

.button:active {
    background-color: #6a6e6a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.name {
    position: absolute;
    right: 60px;
    top: 25px;
    font-weight: 550;

}

.container {
    margin: 0 15%;
}


.openings {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-bottom: 10px;
    font-size: 22px;

}

.openings p {
    color: rgb(121, 111, 111);
    font-size: 20px;

}



.btnbox {
   
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    max-width: 206px;
    background-color: rgb(238, 237, 237);
    border-radius: 10px;
    
    padding: 5px 5px;
    
}

.btnbox button {
    /* background-color: white; */
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    
    
}

.btnbox button:hover {
    background-color: white;
    
}


.allboxes {
    padding-top: 20px;
    
}

.allboxes p {
    color: rgb(121, 111, 111);
    
}

.gridbox {
    
    display: grid;
    /* grid-auto-flow: row; */
    /* grid-template-columns: repeat(3, 1fr) ; */
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 20px;
    
    
}

.gridbox:hover {
    cursor: pointer;
}

.gridbox > * {
    border: 1px solid rgb(236, 228, 228);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5%;
    max-width: 400px;
    min-width: 400px;
    min-height: 325px;
}

.gridbox img {
    height: 120px;
    background-image: url(Images/gridbox.jpg);
    transition: transform 400ms;
}

.gridbox .box2:hover img {
    transform: scale(1.2);
}

.cardbox-inside {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    line-height: 28px;

}

.cardbox-inside h1 {
    font-size: 20px;

}

.gridbox-btn {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.gridbox-btn button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
 

.box1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}

.box1 h1 {
    font-size: 20px;
    padding-top: 30px;
}

.box1 button {
    box-shadow: none;
}


.box1 div {
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.box1 .plus_btn {
    width: 45px;
    border: dotted;
    color: rgb(228, 217, 217);
    

}



.box1 .create_btn {
    width: 120px;
    font-size: 18px;
    
      

}


footer {
    background-color: rgb(209, 203, 203);
    color: rgb(37, 29, 29);
    padding: 10px;
}


















































